@model EphecWebProject.Models.DataModel.Article

@{
    ViewBag.Title = "Editer l'article";
}

<h2>Editer @Model.ART_Libelle</h2>

@using (Html.BeginForm("Edit", "AdminArticle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ART_Id)

        <div id="listeCategorie" class="form-group">
            @{
                Html.RenderAction("ListeCategoriePourEdit", "Categorie");
            }
        </div>

        <div id="listeSousCategorie">
            @{
                Html.RenderAction("ListeSousCategoriePourEdit", "SousCategorie", new {idCategorie = 0});
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ART_Libelle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ART_Libelle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ART_Libelle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ART_Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ART_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ART_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ART_Prix, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ART_Prix, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ART_Prix, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ART_Stock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ART_Stock, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ART_Stock, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Model.ART_UrlImage != null)
        {
            @Html.EditorFor(model => model.ART_UrlImage, new { htmlAttributes = new { @class = "form-control", style = "display:none" } })
            <label>
                Photo de l'article
            </label>
            <p>
                <img src="@Model.ART_UrlImage" alt="@Model.ART_Libelle" height="150" width="150" />
            </p>
        }

        <div class="form-group">
            <label class="col-md-2">Nouvelle photo de l'article</label>
            <div class="col-md-10">
                <input type="file" name="myFile" value="@Model.ART_UrlImage"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sauver les changements" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

<script>
    $(document).ready(function () {

        $("#ART_SCAT_Id").val("@Model.ART_SCAT_Id");

    });
</script>
