@model IEnumerable<EphecWebProject.Models.ArticlePanier>
@{
    decimal prixTotalPanier = 0;
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LibelleArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantiteArticle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixUnitaire)
        </th>
        <th>
            Prix total
        </th>

    </tr>

@foreach (var item in Model)
{
    <tr>
        @{
            decimal prixTotalArticle = item.QuantiteArticle * item.PrixUnitaire;
            prixTotalPanier += prixTotalArticle;
        }
        <td>
            @Html.DisplayFor(modelItem => item.LibelleArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantiteArticle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixUnitaire) euros
        </td>
        <td>
            @prixTotalArticle euros
        </td>

    </tr>
}

</table>

<h3>Prix Total du panier:</h3>
<p>@prixTotalPanier euros</p>
